/* line 3, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 14, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_grid.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/_grid.scss */
.wrapper {
  margin: 0 auto;
  width: 1140px;
}
@media screen and (max-width: 1400px) {
  /* line 7, ../sass/_grid.scss */
  .wrapper {
    width: 1000px;
  }
}
@media screen and (max-width: 1224px) {
  /* line 7, ../sass/_grid.scss */
  .wrapper {
    width: 900px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* line 7, ../sass/_grid.scss */
  .wrapper {
    width: 792px;
  }
}
@media screen and (max-width: 768px) {
  /* line 7, ../sass/_grid.scss */
  .wrapper {
    width: 650px;
  }
}
@media screen and (max-width: 480px) {
  /* line 7, ../sass/_grid.scss */
  .wrapper {
    width: 320px;
  }
}

/* line 27, ../sass/_grid.scss */
.grid {
  margin: 0 0 20px 0;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  /* line 27, ../sass/_grid.scss */
  .grid {
    padding: 0 20px;
  }
}

/* line 36, ../sass/_grid.scss */
[class*='cols-'] {
  float: left;
  padding-right: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 36, ../sass/_grid.scss */
  [class*='cols-'] {
    padding-right: 0;
  }
}

/* line 47, ../sass/_grid.scss */
.cols-1-1 {
  width: 100%;
}

/* line 50, ../sass/_grid.scss */
.cols-2-3 {
  width: 66.66%;
}

/* line 53, ../sass/_grid.scss */
.cols-1-2 {
  width: 50%;
}

/* line 56, ../sass/_grid.scss */
.cols-1-3 {
  width: 33.33%;
}

@media only screen and (max-width: 480px) {
  /* line 60, ../sass/_grid.scss */
  .cols-1-1, .cols-1-2, .cols-1-3, .cols-2-3 {
    width: 100%;
  }
}

/* Opt-in outside padding */
/* line 67, ../sass/_grid.scss */
.grid-pad {
  padding: 0 20px 40px 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  /* line 67, ../sass/_grid.scss */
  .grid-pad {
    padding: 0 20px 40px 20px;
  }
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansPro-Bold-webfont.eot");
  src: url("../fonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBlack';
  src: url("../fonts/SourceSansPro-Black-webfont.eot");
  src: url("../fonts/SourceSansPro-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Black-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Black-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansPro-Light-webfont.eot");
  src: url("../fonts/SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Light-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansPro-Regular-webfont.eot");
  src: url("../fonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../sass/_basics.scss */
body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background: #e2e2e2;
  width: 90%;
  max-width: 1282px;
  height: auto;
  margin: 2.25em auto;
  overflow-y: scroll;
}
@media screen and (max-width: 600px) {
  /* line 2, ../sass/_basics.scss */
  body {
    width: 100%;
    margin: 0em auto;
    overflow-x: hidden;
  }
}

/* line 30, ../sass/_basics.scss */
.container {
  background: #fefefe;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  /* line 30, ../sass/_basics.scss */
  .container {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* line 21, ../sass/_navigation.scss */
nav {
  background: #121314;
  color: #e2e2e2;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 0.8em;
  line-height: 1em;
  height: 63px;
  padding: 2em 0 0;
}
@media screen and (max-width: 600px) {
  /* line 21, ../sass/_navigation.scss */
  nav {
    height: 150px;
    font-size: 1em;
  }
}
/* line 38, ../sass/_navigation.scss */
nav ul {
  float: right;
}
@media screen and (max-width: 600px) {
  /* line 38, ../sass/_navigation.scss */
  nav ul {
    margin: 1em 0;
    text-align: center;
  }
}
/* line 46, ../sass/_navigation.scss */
nav ul li {
  display: inline-block;
  margin-right: 2em;
}
@media screen and (max-width: 600px) {
  /* line 46, ../sass/_navigation.scss */
  nav ul li {
    margin: 1em 2em 0 0;
  }
}
/* line 58, ../sass/_navigation.scss */
nav a {
  color: #969696;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 66, ../sass/_navigation.scss */
nav a:hover {
  color: #e2e2e2;
}
/* line 69, ../sass/_navigation.scss */
nav a.selected_page {
  color: #fff;
}
/* line 75, ../sass/_navigation.scss */
nav .logo {
  float: left;
  margin: -0.6em 0 0 -4.5em;
  position: absolute;
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  height: 40px;
  width: 50px;
}
@media screen and (max-width: 1024px) {
  /* line 75, ../sass/_navigation.scss */
  nav .logo {
    margin: -0.6em 0 0 0.5em;
  }
}
@media screen and (max-width: 768px) {
  /* line 75, ../sass/_navigation.scss */
  nav .logo {
    margin: -0.6em 0 0 0em;
  }
}
@media screen and (max-width: 600px) {
  /* line 75, ../sass/_navigation.scss */
  nav .logo {
    float: inherit;
    margin: -0.6em 0 0 6em;
  }
}
@media screen and (max-width: 480px) {
  /* line 75, ../sass/_navigation.scss */
  nav .logo {
    margin: -0.6em 0 0 3em;
  }
}
/* line 104, ../sass/_navigation.scss */
nav .logo:hover {
  opacity: 0.8;
}
/* line 107, ../sass/_navigation.scss */
nav .logo:active {
  opacity: 0.7;
}
/* line 112, ../sass/_navigation.scss */
nav .twitter {
  float: left;
  margin: 0 0 0 1em;
  color: #969696;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  /* line 112, ../sass/_navigation.scss */
  nav .twitter {
    margin: 0 0 0 5em;
  }
}
@media screen and (max-width: 768px) {
  /* line 112, ../sass/_navigation.scss */
  nav .twitter {
    margin: 0 0 0 5em;
  }
}
@media screen and (max-width: 600px) {
  /* line 112, ../sass/_navigation.scss */
  nav .twitter {
    margin: 0 0 0 9em;
  }
}
@media screen and (max-width: 480px) {
  /* line 112, ../sass/_navigation.scss */
  nav .twitter {
    margin: 0 0 0 6em;
  }
}
/* line 135, ../sass/_navigation.scss */
nav .twitter.main {
  font-weight: bold;
  color: #fff;
}

/* line 23, ../sass/_photos.scss */
.clients, .install, .philosophy, .goals {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/_photos.scss */
.clients {
  background: url("../img/icons.png") no-repeat -18px -14px;
}

/* line 36, ../sass/_photos.scss */
.install {
  background: url("../img/icons.png") no-repeat -53px -14px;
}

/* line 42, ../sass/_photos.scss */
.philosophy {
  background: url("../img/icons.png") no-repeat -89px -14px;
}

/* line 49, ../sass/_photos.scss */
.goals {
  background: url("../img/icons.png") no-repeat -124px -14px;
}

@media screen and (max-width: 768px) {
  /* line 55, ../sass/_photos.scss */
  .inline-img {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  /* line 55, ../sass/_photos.scss */
  .inline-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* line 65, ../sass/_photos.scss */
  .reveal-modal {
    width: 200px !important;
  }
}

/* line 22, ../sass/_inputs.scss */
input[type*='text'], input[type*='email'], input[type*='tel'], textarea, select {
  width: 99%;
  padding: 7px 12px;
  vertical-align: top;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), 0 1px 0 white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "SourceSansProRegular", "Times New Roman", sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 300;
  text-align: right;
  text-transform: capitalize;
}

/* line 56, ../sass/_inputs.scss */
textarea, input[type*='email'] {
  text-transform: none;
}

/* line 61, ../sass/_inputs.scss */
textarea {
  resize: none;
}

/* line 66, ../sass/_inputs.scss */
select {
  height: 30px;
}

/* line 23, ../sass/_buttons.scss */
.button {
  padding: 0.5em 1em;
  max-width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 38, ../sass/_buttons.scss */
.button a {
  text-decoration: none;
  color: #fff;
}
/* line 43, ../sass/_buttons.scss */
.button.blue {
  background: #00aed7;
  color: #fff;
  float: right;
  margin: 0 0 0.7em 0;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: none;
}
/* line 56, ../sass/_buttons.scss */
.button.blue[value*='Enviar'] {
  float: left;
  margin: 1em 0 0.7em 0;
  font-family: "SourceSansProLight", "Times New Roman", sans-serif;
  font-size: 1em;
  font-weight: normal;
}
/* line 65, ../sass/_buttons.scss */
.button.blue:hover {
  background: #005b71;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 77, ../sass/_buttons.scss */
.button.blue:active {
  background: #0085a4;
}

/* line 23, ../sass/_products.scss */
.product {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 350px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 23, ../sass/_products.scss */
  .product {
    height: 167px;
    width: 195px;
  }
}
@media screen and (max-width: 480px) {
  /* line 23, ../sass/_products.scss */
  .product {
    height: 167px;
    width: 290px;
    margin: 1em 0;
  }
}
/* line 44, ../sass/_products.scss */
.product img {
  width: 350px;
}
@media screen and (max-width: 1400px) {
  /* line 44, ../sass/_products.scss */
  .product img {
    width: 310px;
  }
}
@media screen and (max-width: 768px) {
  /* line 44, ../sass/_products.scss */
  .product img {
    height: 167px;
    width: 195px;
  }
}
@media screen and (max-width: 480px) {
  /* line 44, ../sass/_products.scss */
  .product img {
    height: 200px;
    width: 290px;
  }
}
/* line 63, ../sass/_products.scss */
.product .description {
  position: absolute;
  top: 0;
  right: -240px;
  width: 200px;
  height: 100%;
  padding: 0.4em;
  background: rgba(0, 174, 215, 0.8);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  /* line 63, ../sass/_products.scss */
  .product .description {
    height: 88.5%;
  }
}
/* line 79, ../sass/_products.scss */
.product .description p {
  color: #fff;
}
/* line 85, ../sass/_products.scss */
.product .description.active-description {
  right: 0;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/_products.scss */
  .product .description {
    right: 0;
    opacity: 1;
    width: 110px;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 63, ../sass/_products.scss */
  .product .description {
    right: 0;
    opacity: 1;
    width: 170px;
    height: 100%;
  }
}

/* line 23, ../sass/_contact.scss */
.contact_header {
  width: 47%;
}
/* line 26, ../sass/_contact.scss */
.contact_header p {
  text-align: left;
  line-height: 2.50em;
}

/* line 24, ../sass/_content.scss */
.highlight_section {
  background: #eeeeee;
  margin: -0.1em 0 0;
}

/* line 31, ../sass/_content.scss */
.big-text-spacing {
  line-height: 3.5em;
}

/* line 36, ../sass/_content.scss */
.highlight-text {
  background: #00aed7;
  width: 100%;
  height: 45px;
  padding: 0.5em 1em;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  /* line 36, ../sass/_content.scss */
  .highlight-text {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 36, ../sass/_content.scss */
  .highlight-text {
    margin: 0 0 1em;
  }
}
/* line 60, ../sass/_content.scss */
.highlight-text p {
  font-family: "SourceSansProRegular", "Times New Roman", sans-serif;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 3.5px;
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/_content.scss */
  .highlight-text p {
    letter-spacing: -2.5px;
  }
}
@media screen and (max-width: 600px) {
  /* line 60, ../sass/_content.scss */
  .highlight-text p {
    letter-spacing: 3.5px;
  }
}
/* line 74, ../sass/_content.scss */
.highlight-text p a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
/* line 86, ../sass/_content.scss */
.highlight-text p a:hover {
  color: #36393c;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
/* line 98, ../sass/_content.scss */
.highlight-text p a:active {
  color: #b5b9bc;
}

/* line 106, ../sass/_content.scss */
#message {
  height: 75px;
  margin: 0 0 1.75em 0;
  background: #eeeeee;
  font-family: "SourceSansProLight", "Times New Roman", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 3.3em;
  color: #73797f;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  /* line 106, ../sass/_content.scss */
  #message {
    height: 50px;
    font-size: 1em;
    line-height: 3.5em;
  }
}

/* line 129, ../sass/_content.scss */
.item {
  height: auto;
  margin: 1.5em 0;
}
/* line 134, ../sass/_content.scss */
.item h2 {
  font-size: 1.125em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 1em 0;
  background: transparent url("../img/arrow.png") no-repeat right 60%;
}

/* line 146, ../sass/_content.scss */
h2.title {
  font-size: 1.125em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  padding: 0.5em 0 0 2em;
}
/* line 154, ../sass/_content.scss */
h2.title.no-pad {
  padding: 0;
}

/* line 159, ../sass/_content.scss */
p {
  font-size: 0.9375em;
  line-height: 1.6em;
  color: #797979;
  text-align: justify;
  margin: 0 0 0.7em 0;
}

/* line 168, ../sass/_content.scss */
footer p {
  float: left;
  font-size: 0.95em;
  font-weight: bold;
  line-height: 2em;
  color: #959595;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* line 180, ../sass/_content.scss */
.border-right {
  border-right: 1px solid rgba(226, 226, 226, 0.8);
}
@media screen and (max-width: 600px) {
  /* line 180, ../sass/_content.scss */
  .border-right {
    border-right: none;
  }
}

/* line 189, ../sass/_content.scss */
.border-top {
  padding: 1.5em 0 0 0;
  border-top: 1px solid rgba(226, 226, 226, 0.8);
  margin: 0 0 2.75em 0;
}

/* line 199, ../sass/_content.scss */
ul.with_styles li {
  margin: 0 0 0 35px;
}

/* line 207, ../sass/_content.scss */
.mobile-show {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 207, ../sass/_content.scss */
  .mobile-show {
    display: inherit;
  }
}

/* line 215, ../sass/_content.scss */
.mobile-hide {
  display: inherit;
}
@media screen and (max-width: 600px) {
  /* line 215, ../sass/_content.scss */
  .mobile-hide {
    display: none;
  }
}

/* line 224, ../sass/_content.scss */
.text-justify {
  text-align: justify !important;
}

/* line 225, ../sass/_content.scss */
.text-center {
  text-align: center !important;
}

/* line 226, ../sass/_content.scss */
.text-left {
  text-align: left !important;
}

/* line 227, ../sass/_content.scss */
.text-right {
  text-align: right !important;
}

/* line 228, ../sass/_content.scss */
.mobile-smaller {
  font-size: 70% !important;
}
@media screen and (max-width: 480px) {
  /* line 228, ../sass/_content.scss */
  .mobile-smaller {
    font-size: 50% !important;
  }
}
