//----- variables ------
$base: #00aed7;
$inverted: #89c53b;
$border-size: 10px;
//colors goes from 1 to 2, being 1 the most condensed and 2 the lightest
//light-grays
$light-1: #eeeeee;
$light-2: #fefefe;
//dark-grays
$dark-1: #121314;
$dark-2: #e2e2e2;
$dark-3: #797979;
//effects
$transition: all 0.3s ease-in-out;
//fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, serif;
$source_bold: "SourceSansProBold", "Times New Roman", sans-serif;
$source_light: "SourceSansProLight", "Times New Roman", sans-serif;
$source: "SourceSansProRegular", "Times New Roman", sans-serif;
//------- code ---------

//basic styles

.highlight_section{
	//color
	background: $light-1;
	//position
	margin: -0.1em 0 0;
}

.big-text-spacing{
	//text
	line-height: 3.5em;
}

.highlight-text{
	//background
	background: $base;
	//size
	width: 100%;
	height: 45px;
	//align
	padding: 0.5em 1em;
	//effects
	-webkit-border-radius: $border-size;
	border-radius: $border-size;
	//variable
	$box-shadow: inset 1px 1px 3px 0px rgba(#000, 0.2);
	//box-shadow
	-webkit-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	@media screen and (max-width: 600px){
		//position
		margin: 0 0 1em;
	}
	p{
		//text
		font-family: $source;
		font-size: 1.2em;
		text-align: center;
		letter-spacing: 3.5px;
		@media screen and (max-width: 768px){
			//space
			letter-spacing: -2.5px;
		}
		@media screen and (max-width: 600px){
			//space
			letter-spacing: 3.5px;
		}
		a{
			//link effect
			text-decoration:none;
			color: #fff;
			//variable
			$transition: color 0.3s ease-in-out;
			//transition
			-webkit-transition: $transition;
			-moz-transition: $transition;
			-ms-transition: $transition;
			-o-transition: $transition;
			transition: $transition;
			&:hover{
				//colored
				color: lighten($dark-1, 15%);
				//variable
				$transition: color 0.1s ease-in-out;
				//transition
				-webkit-transition: $transition;
				-moz-transition: $transition;
				-ms-transition: $transition;
				-o-transition: $transition;
				transition: $transition;
			}
			&:active{
				//colored
				color: lighten($dark-1, 65%);
			}
		}
	}
}

#message{
	//size
	height: 75px;
	//position
	margin: 0 0 1.75em 0;
	//background
	background: $light-1;
	//text
	font-family: $source_light;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 3.3em;
	color: lighten($dark-1, 40%);
	text-transform: uppercase;
	@media only screen and (max-width: 600px) {
		//size
		height: 50px;
		//text
		font-size: 1em;
		line-height: 3.5em;
	}
}

.item{
	//size
	height: auto;
	//margins
	margin: 1.5em 0;
	h2{
		//text
		font-size: 1.125em;
		line-height: 1.2em;
		font-weight: bold;
		//position
		margin: 0 0 1em 0;
		//background
		background: transparent url('../img/arrow.png') no-repeat right 60%;
	}
}

h2.title{
	//text
	font-size: 1.125em;
	line-height: 1.2em;
	font-weight: bold;
	//position
	margin: 1em 0 0.5em 0;
	padding: 0.5em 0 0 2em;
	&.no-pad{
		padding: 0;
	}
}

p{
	//text
	font-size: 0.9375em;
	line-height: 1.6em;
	color: $dark-3;
	text-align: justify;
	margin: 0 0 0.7em 0;
}

footer p{
	//position
	float: left;
	//text
	font-size: 0.95em;
	font-weight: bold;
	line-height: 2em;
	//colors
	color: darken($light-1, 35%);
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
}

.border-right{
	//effects
	border-right: 1px solid rgba($dark-2, 0.8);
	@media screen and (max-width: 600px){
		//border
		border-right: none;
	}
}

.border-top{
	//effects
	padding: 1.5em 0 0 0;
	border-top: 1px solid rgba($dark-2, 0.8);
	margin: 0 0 2.75em 0;
}

//this class serves the purpose to give the ul a look of decoration
ul.with_styles{
	//list-style: inherit;
	li{
		$pad: 35px;
		margin: 0 0 0 $pad;
	}
}

//show and hide

.mobile-show{
	display: none;
	@media screen and (max-width: 600px){
		//border
		display: inherit;
	}
}

.mobile-hide{
	display: inherit;
	@media screen and (max-width: 600px){
		//border
		display: none;
	}
}

//-------------- helper classes ----------------
.text-justify{text-align: justify !important;}
.text-center{text-align: center !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}