*{
 box-sizing: border-box; 
}

$pad: 20px;

.wrapper{
	margin: 0 auto;
	width: 1140px;
	@media screen and (max-width: 1400px) {
		width:1000px;
	}
	@media screen and (max-width: 768px) {
		width:650px;
	}
	@media screen and (max-width: 480px) {
		width:400px;
	}
}

.grid {
	margin: 0 0 $pad 0;
	overflow: hidden;
	@media screen and (max-width: 600px){
		//pad
		padding: 0 $pad;
	}
}

[class*='cols-'] {
	float: left;
	padding-right: $pad;
	.grid &:last-of-type {
		//padding-right: 0;
	}
	@media only screen and (max-width: 480px) {
		padding-right: 0;
	}
}

.cols-1-1{
	width: 100%;
}
.cols-2-3 {
	width: 66.66%;
}
.cols-1-2 {
	width: 50%;
}
.cols-1-3 {
	width: 33.33%;
}

.cols-1-1, .cols-1-2, .cols-1-3, .cols-2-3{
	@media only screen and (max-width: 480px) {
		width:100%;
	}
}

/* Opt-in outside padding */
.grid-pad {
	padding: 0 $pad $pad+20 0;
	margin: 0;
	[class*='col-']:last-of-type {
		//padding-right: $pad;
	}
	@media screen and (max-width: 600px){
		//pad
		padding: 0 $pad $pad+20 $pad;
	}
}