//----- variables ------
$base: #00aed7;
$inverted: #89c53b;
//colors goes from 1 to 2, being 1 the most condensed and 2 the lightest
//light-grays
$light-1: #eeeeee;
$light-2: #fbfbfb;
//dark-grays
$dark-1: #121314;
$dark-2: #e2e2e2;
//effects
$transition: all 0.3s ease-in-out;
//fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, serif;
$source_bold: "SourceSansProBold", "Times New Roman", sans-serif;
$source_light: "SourceSansProLight", "Times New Roman", sans-serif;
$source: "SourceSansProRegular", "Times New Roman", sans-serif;
//------- code ---------

//basic styles

input[type*='text'], input[type*='email'], input[type*='tel'], textarea, select{
	//size
	width: 99%;
	padding: 7px 12px;
	//display
	vertical-align: top;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	//background
	background: rgba(0,0,0,0.03);
	//effects
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.1),0 1px 0 #fff;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.1),0 1px 0 #fff;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0);
	box-shadow: 0 0 0 2px rgba(255,255,255,0);
	//transitions
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
	//text
	font-family: $source;
	font-size: 1em;
	line-height: 1em;
	font-weight: 300;
	text-align: right;
	text-transform: capitalize;
}

textarea, input[type*='email']{
	//none capitalize to this type of inputs
	text-transform: none;
}

textarea{
	//no change to the size of the element
	resize: none;
}

select{
	//size
	height: 30px;
}