//----- variables ------
$base: #00aed7;
$inverted: #89c53b;
$radius: 25px;
//colors goes from 1 to 2, being 1 the most condensed and 2 the lightest
//light-grays
$light-1: #eeeeee;
$light-2: #fbfbfb;
//dark-grays
$dark-1: #121314;
$dark-2: #e2e2e2;
//effects
$transition: all 0.3s ease-in-out;
//fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, serif;
$source_bold: "SourceSansProBold", "Times New Roman", sans-serif;
$source_light: "SourceSansProLight", "Times New Roman", sans-serif;
$source: "SourceSansProRegular", "Times New Roman", sans-serif;
//------- code ---------

//basic styles

.button{
	//size
	padding: 0.5em 1em;
	max-width: 150px;
	//effects
	cursor: pointer;
	//variable
	$transition: all 0.3s ease-in-out;
	//transition
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
	//index read more button
	&.blue{
		//color
		background: $base;
		color: #fff;
		//position
		float: right;
		margin: 0 0 0.7em 0;
		//effects
		-webkit-border-radius: $radius;
		border-radius: $radius;
		//border
		border: none;
		//if value is 'enviar' apply
		&[value*='Enviar']{
			//position
			float: left;
			margin: 1em 0 0.7em 0;
			//text
			font-family: $source_light;
			font-size: 1em;
			font-weight: normal;
		}
		&:hover{
			//background
			background: darken($base, 20%);
			//variable
			$transition: all 0.1s ease-in-out;
			//transition
			-webkit-transition: $transition;
			-moz-transition: $transition;
			-ms-transition: $transition;
			-o-transition: $transition;
			transition: $transition;
		}
		&:active{
			//background
			background: darken($base, 10%);
		}
	}
}