//----- variables ------
$base: #00aed7;
$inverted: #89c53b;
//colors goes from 1 to 2, being 1 the most condensed and 2 the lightest
//light-grays
$light-1: #eeeeee;
$light-2: #fefefe;
//dark-grays
$dark-1: #121314;
$dark-2: #e2e2e2;
$dark-3: #797979;
//effects
$transition: all 0.3s ease-in-out;
//fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, serif;
$source_bold: "SourceSansProBold", "Times New Roman", sans-serif;
$source_light: "SourceSansProLight", "Times New Roman", sans-serif;
$source: "SourceSansProRegular", "Times New Roman", sans-serif;
//------- code ---------

//basic styles

.contact_header{
	//size
	width: 47%;
	p{
		//position
		text-align: left;
		//text
		line-height: 2.50em;
	}
}