//----- variables ------
$base: #00aed7;
$inverted: #89c53b;
//colors goes from 1 to 2, being 1 the most condensed and 2 the lightest
//light-grays
$light-1: #eeeeee;
$light-2: #fefefe;
//dark-grays
$dark-1: #121314;
$dark-2: #e2e2e2;
$dark-3: #797979;
//effects
$transition: all 0.3s ease-in-out;
//fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, serif;
$source_bold: "SourceSansProBold", "Times New Roman", sans-serif;
$source_light: "SourceSansProLight", "Times New Roman", sans-serif;
$source: "SourceSansProRegular", "Times New Roman", sans-serif;
//------- code ---------

//basic styles

.highlight_section{
	//color
	background: $light-1;
	//position
	margin: -0.1em 0 0;
}

.item{
	//size
	height: auto;
	//margins
	margin: 1.5em 0;
	h2{
		//text
		font-size: 1.125em;
		line-height: 1.2em;
		font-weight: bold;
		//position
		margin: 0 0 1em 0;
		//background
		background: transparent url('../img/arrow.png') no-repeat right 60%;
	}
}

h2.title{
	//text
	font-size: 1.125em;
	line-height: 1.2em;
	font-weight: bold;
	//position
	margin: 1em 0 0.5em 0;
	padding: 0 0 0 2em;
}

p{
	//text
	font-size: 0.9375em;
	line-height: 1.6em;
	color: $dark-3;
	text-align: justify;
}